<ng-container *ngIf="!finishedLoadingRoot">
  Loading...
</ng-container>

<ng-container *ngIf="finishedLoadingRoot">

  <!-- Logo (optional) -->
  <ng-container *ngIf="remoteTree.metadata.logoURL">
    <img
      src="{{ remoteTree.metadata.logoURL }}"
      alt="Airdrop logo"
      style="height: 96px; margin-bottom: 16px;"
    />
  </ng-container>

  <!-- Title -->
  <h1 style="margin-bottom: 24px;">
    {{ remoteTree.metadata.name }}
  </h1>

  <!-- Description -->
  <div style="margin-bottom: 24px;">
    <markdown
      [data]="remoteTree.metadata.description"
      lineNumbers
      emoji
      katex
    ></markdown>
  </div>

  <!-- Claim Input (reverted) -->
  <div style="margin-bottom: 8px;">
    <label for="claimAddressInput">
      Input your address:
    </label>
    <br />

    <input
      id="claimAddressInput"
      type="text"
      (input)="claimAddress = $event.target.value"
      style="margin-top: 8px; width: 600px; height: 40px; box-sizing: border-box;"
    />

    <button
      (click)="clickCheck()"
      style="margin-left: 8px; height: 40px; box-sizing: border-box;"
    >
      Check
    </button>
  </div>

  <!-- Claim Result -->
  <ng-container *ngIf="finishedCheckingClaim && !claimed">

    <div style="margin-bottom: 16px;">
      <ng-container *ngIf="remoteTree.metadata.tokenType === '20'">
        <p>
          Claimable amount:
          {{ claimableAmount }} {{ claimTokenSymbol }}
        </p>
      </ng-container>

      <ng-container *ngIf="remoteTree.metadata.tokenType === '721'">
        <p>
          Claimable NFT ID:
          {{ claimableAmount }} of {{ claimTokenSymbol }}
        </p>
      </ng-container>
    </div>

    <button (click)="clickClaim()"
      style="margin-left: 8px; height: 40px; box-sizing: border-box;">
      Claim
    </button>

  </ng-container>

  <!-- Already Claimed -->
  <p *ngIf="finishedCheckingClaim && claimed">
    This address has already claimed from this airdrop.
  </p>

  <!-- Sweep (owner only) -->
  <ng-container *ngIf="sweepEnabled">
    <div style="margin-top: 32px;">
      <p>
        It appears that you are the owner of this airdrop, and the airdrop has expired.
        You can sweep the unclaimed tokens into your wallet.
      </p>

      <button (click)="clickSweep()">
        Sweep
      </button>
    </div>
  </ng-container>

</ng-container>
